<section data-ng-controller="HomeController" class="ng-scope">
	<div class="jumbotron text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<img alt="MEAN.JS" class="img-responsive text-center"src="modules/core/img/brand/logo.png" />
				</div>
			</div>
			<br>
			<div class="row">
				<p class="lead">
					Budgeteer is an open-source web application for managing and budgeting your finances.
				</p>
			</div>
			<div class="row">
				<p>
					<a class="btn btn-primary btn-lg" href="https://github.com/anberin/Budgeteer" target="_blank">Github</a>
                    <a class="btn btn-primary btn-lg" href="https://youtu.be/s07WXwyLXjc" target="_blank">
                        <i class="glyphicon glyphicon-facetime-video"></i>
                    </a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
                <h2>Welcome to Budgeteer!</h2>
                <ul>
                    <p>
                    <li>
                        Click
                        <a href="/#!/signup"><em>Signup </em></a>
                        to get started and make an account.
                    </li>
                    </p>
                    <p>
                    <li>
                        Once you have logged in you will be able to create
                        <a href="/#!/budgets/create"><em>budgets </em></a>
                        and later deduct from it.
                    </li>
                    </p>
                    <p>
                    <li>
                        Once you have logged in you will be able to create an
                        <a href="/#!/expenses/create"><em>expense</em></a>
                        that can deduct from your budget.
                    </li>
                    </p>
                </ul>
		</div>
	</div>
</section>

