<section data-ng-controller="HomeController" class="ng-scope">
	<div class="jumbotron text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<img alt="MEAN.JS" class="img-responsive text-center"src="modules/core/img/brand/logo.png" />
				</div>
			</div>
			<br>
			<div class="row">
				<p class="lead">
					Budgeteer is an open-source web application for managing and budgeting your finances.
				</p>
			</div>
			<div class="row">
				<p>
					<a class="btn btn-primary btn-lg" href="https://github.com/anberin/Budgeteer" target="_blank">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
					<h2>Step 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="/#!/signup" role="button" class="btn btn-primary">Log In</a></p>
				</div>
				<div class="col-md-4">
					<h2>Step 2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="/#!/budgets/create" role="button" class="btn btn-primary">Create Budget</a></p>
				</div>
				<div class="col-md-4">
					<h2>Step 3</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p><a href="/#!/expenses/create" role="button" class="btn btn-primary">Create Expense</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

