<section data-ng-controller="BudgetsController" data-ng-init="find()">
    <section class="container">
    <div class="page-header">
        <h1>Budgets</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="budget in budgets" data-ng-href="#!/budgets/{{budget._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="budget.created | date:'medium'"></span>
				by
				<span data-ng-bind="budget.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="budget.name"></h4>
            <p class="list-group-item-text" data-ng-bind="budget.amount"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!budgets.$resolved || budgets.length">
    	No Budgets yet, why don't you <a href="/#!/budgets/create">create one</a>?
    </div>
        </section>
</section>
